/* Body */
body {
  background-color: #e5e5e5;
}

/* NavBar Styling */

.nav-container {
  position: relative;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 10px rgba(79, 79, 79, 0.07);
  z-index: 1;
}
.right-content,
.left-content {
  width: 50%;
}
.left-content {
  display: flex;
  margin-left: 30px;
}
.logo {
  width: 110px;
}
.search-items {
  margin-left: 60px;
  display: flex;
  align-items: center;
}
.search {
  margin-right: 15px;
}
.input-field {
  border: none;
}
.input-field::placeholder {
  font-size: 12px;
  color: #979797;
}
.profile {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  object-fit: cover;
}
.right-content {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 75px;
}
.support,
.FAQ {
  padding-right: 10%;
  font-size: 14px;
  color: #647787;
}
.notification {
  padding-right: 4%;
  position: relative;
}
.counter {
  position: absolute;
  left: 10%;
}
.user {
  display: flex;
  align-items: center;
  margin-left: 30px;
  color: #647787;
}
.user .name {
  font-size: 14px;
}
.user-info {
  text-align: right;
  margin-right: 10px;
}
.user .span {
  font-size: 10px;
}

/* SideNav Styling */
.sidenav-container {
  padding-left: 3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: absolute;
  top: -505px;
  width: 220px;
  height: 1650px;
  background-color: #fff;
}
button {
  background-color: #27ae60;
  border: none;
}
.button {
  text-transform: uppercase;
  text-align: center;
  border-radius: 25px;
  padding: 12px;
  padding-left: 0;
  width: 160px;
  font-size: 12px;
  color: #fff;
  font-weight: bold;
}
.main h5 {
  font-weight: normal;
  font-size: 12px;
  color: #647787;
}
.main p {
  font-size: 12px;
  color: #647787;
  display: flex;
  position: relative;
}
.payments h5 {
  font-weight: normal;
  font-size: 12px;
  color: #647787;
}
.payments p {
  font-size: 12px;
  color: #647787;
  display: flex;
}
.orders h5 {
  font-weight: normal;
  font-size: 12px;
  color: #647787;
}
.orders p {
  font-size: 12px;
  color: #647787;
  display: flex;
}
.merchant p {
  font-size: 12px;
  color: #647787;
  display: flex;
}

/* Transaction tabs*/

.trans-container {
  position: absolute;
  display: flex;
  align-items: center;
  left: 290px;
  top: 12%;
  border: 1px solid #fff;
  background-color: #fff;
  padding: 10px;
  width: 220px;
  height: 35px;
}
.trans-container2 {
  position: absolute;
  display: flex;
  align-items: center;
  left: 545px;
  top: 12%;
  border: 1px solid #fff;
  background-color: #fff;
  padding: 10px;
  width: 220px;
  height: 35px;
}
.trans-container3 {
  position: absolute;
  display: flex;
  align-items: center;
  left: 830px;
  top: 12%;
  border: 1px solid #fff;
  background-color: #fff;
  padding: 10px;
  width: 220px;
  height: 35px;
}
.trans-container4 {
  position: absolute;
  display: flex;
  align-items: center;
  left: 1085px;
  top: 12%;
  border: 1px solid #fff;
  background-color: #fff;
  padding: 10px;
  width: 220px;
  height: 35px;
}
.trans-container p,
.trans-container2 p,
.trans-container3 p,
.trans-container4 p {
  margin: 0;
  font-size: 12px;
}
.value {
  font-size: 18px;
  font-weight: bold;
}
.graphMini {
  padding-left: 10px;
}

/* Graph */

.chart {
  position: absolute;
  width: 662px;
  height: 309px;
  top: 25%;
  left: 21.5%;
  border: 1px solid #fff;
  background-color: #fff;
}
.graph {
  width: 680px;
  height: 150px;
  margin-top: 100px;
}
.date {
  display: flex;
  justify-content: start;
  align-items: center;
}
h4 {
  margin-left: 5%;
  font-size: 18px;
}
.date p {
  margin-left: 30%;
  border: 1px solid #dde0e3;
  padding: 5px;
  border-radius: 4.25px;
  font-size: 12px;
  color: #7f8fa4;
  display: flex;
  align-items: center;
}
.down {
  margin-left: 20px;
}
.date div {
  margin-left: 8%;
  display: flex;
  align-items: center;
}
.left,
.right {
  border: 1px solid #ced0da;
  border-radius: 4px;
  background: linear-gradient(0deg, #f2f4f7 0%, #ffffff 100%);
}
.left {
  margin-right: 10px;
}
.months {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}
.month {
  border-right: 1px solid rgb(207, 232, 251, 0.5);
  height: 220px;
  padding-left: 40px;
  padding-right: 40px;
}
.month:last-child {
  border-right: none;
}

/* Order styling */

.order {
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 957px;
  padding-left: 1%;
  top: 25%;
  border: 1px solid #fff;
  background-color: #fff;
  width: 360px;
  height: 151px;
}
.payment {
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 957px;
  padding-left: 1%;
  top: 50.1%;
  border: 1px solid #fff;
  background-color: #fff;
  width: 360px;
  height: 151px;
}
.order h4,
.payment h4 {
  font-size: 14px;
  color: #262626;
  margin: 5px 0 2px 2px;
}
.order p,
.payment p {
  font-size: 14px;
  color: #262626;
  margin: 5px 0 12px 2px;
}
.bar {
  width: 295px;
}
.spanOne {
  color: #fdc203;
}
.spanTwo {
  color: #27ae60;
}
.spanThree {
  color: rgb(16, 16, 160);
}

/* Payment Records */
.paymentnav-container {
  position: absolute;
  top: 75%;
  left: 290px;
}
.outside-column {
  margin-left: -5px;
  display: flex;
  align-items: center;
  font-size: 14px;
}
.outside-column .showing {
  margin-right: 20px;
}
.item-number {
  display: flex;
  align-items: center;
  margin-right: 55px;
  color: #1875f0;
}
.item-number span {
  color: #262626;
}
.search-content {
  display: flex;
  align-items: center;
  position: relative;
  width: 480px;
}
.search-content::after {
  content: "";
  height: 1px;
  width: 50%;
  position: absolute;
  top: 20px;
  background-color: #787878;
}
.search-input {
  border: none;
  background-color: #e5e5e5;
}
.search-input::placeholder {
  font-size: 11px;
  color: #787878;
}
.search-icon {
  margin-right: 5px;
}
.show {
  font-weight: bold;
  position: relative;
}
.dropdown-lists {
  list-style: none;
  position: absolute;
  box-shadow: 3px 3px 3px 3px #adadad;
  z-index: 1;
  border: 1px solid #fff;
  background-color: #fff;
  border-radius: 2px 2px 6px 6px;
  width: 150px;
  left: 830px;
  top: 73%;
}
.dropdown-lists li {
  padding: 3px;
}
.dropdown-arrow {
  margin-left: 110px;
}
.toggle {
  background-color: #e5e5e5;
}
.active {
  background-color: #f4f4f4;
}

/* Payment Rows */

.paymentrow-container {
  position: absolute;
  top: 95%;
  left: 290px;
}
table {
  border: 1px solid #eaeef0;
  width: 76vw;
  background-color: #fff;
  border-collapse: collapse;
}
table,
td {
  border-bottom: 1px solid #cccfd4;
}
th {
  text-align: left;
  padding: 8px;
  font-size: 14px;
  color: #7f8fa4;
  font-weight: normal;
  background-color: #eaeef0;
  border: none;
}
td {
  padding: 15px;
  font-size: 14px;
  color: #7f8fa4;
}
.item-content {
  color: #414042;
}
.item-content span {
  border: 1px solid #7f8fa4;
  background-color: #7f8fa4;
  font-size: 12px;
  color: #fff;
  padding: 5px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
}
.arrow-row {
  width: 10px;
  height: 10px;
}
.Reconcilled {
  color: #27ae60;
  position: relative;
}
.Reconcilled::before {
  content: "";
  border: 1px solid #27ae60;
  width: 100px;
  height: 10px;
  left: -10px;
  bottom: 8px;
  border-radius: 25px;
  padding: 10px;
  position: absolute;
}
.Pending {
  color: #ebc315;
  position: relative;
}
.Pending::before {
  content: "";
  border: 1px solid #ebc315;
  width: 100px;
  height: 10px;
  left: -10px;
  bottom: 6px;
  border-radius: 25px;
  padding: 10px;
  position: absolute;
}
.Un-reconcilled {
  position: relative;
}
.Un-reconcilled::before {
  content: "";
  border: 1px solid #7f8fa4;
  width: 103px;
  height: 10px;
  left: -10px;
  bottom: 6px;
  border-radius: 25px;
  padding: 10px;
  position: absolute;
}
.Un-reconcilled::after {
  content: "";
  border-radius: 50%;
  background-color: #7f8fa4;
  position: absolute;
  width: 8px;
  height: 8px;
  padding: 1px;
  left: -2px;
  bottom: 18px;
}
.Reconcilled::after {
  content: "";
  border-radius: 50%;
  background-color: #27ae60;
  position: absolute;
  width: 8px;
  height: 8px;
  padding: 1px;
  left: -2px;
  bottom: 18px;
}
.Pending::after {
  content: "";
  border-radius: 50%;
  background-color: #ebc315;
  position: absolute;
  width: 8px;
  height: 8px;
  padding: 1px;
  left: -2px;
  bottom: 18px;
}

/* Pagination */

.page-container {
  position: absolute;
  top: 175%;
  left: 290px;
  width: 77vw;
  font-size: 12px;
  font-weight: bold;
  display: flex;
}
.page-update {
  display: flex;
  color: black;
  width: 525.9px;
}
.page-control {
  display: flex;
  width: 525.9px;
  margin-left: 560px;
}
.page-control p {
  border: 1px solid #979797;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
}
.page-control p:nth-child(2) {
  background-color: #1875f0;
  border: 1px solid #1875f0;
  font-weight: normal;
  color: #fff;
}
